<!DOCTYPE html>
<html lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge"> -->
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home_style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="https://login.persona.org/include.js"></script>
</head>
<body>

<header>
  <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="logo">
</header>
<div class="content">
    <ul class="connect">
        <li class="login"><a href="#" id="signin"><img alt="#" src="https://developer.mozilla.org/files/3963/persona_sign_in_blue.png" style="width: 185px; height: 25px;"></a></li>
   </ul>

  </div>
</div>

<script type="text/javascript">
$(function() {
    var signinLink = document.getElementById('signin');
    if (signinLink) {
      signinLink.onclick = function() { navigator.id.request(); };
    }

    navigator.id.watch({
      loggedInUser: null,
      onlogin: function(assertion) {
        // A user has logged in! Here you need to:
        // 1. Send the assertion to your backend for verification and to create a session.
        // 2. Update your UI.
        $.ajax({ /* <-- This example uses jQuery, but you can use whatever you'd like */
          type: 'POST',
          url: '/login', // This is a URL on your website.
          data: {assertion: assertion},
          success: function(res, status, xhr) {
               window.location.reload(); },
          error: function(xhr, status, err) {
            alert("Error on login");
            navigator.id.logout();
          }
        });
      },
      onlogout: function() {
        // A user has logged out! Here you need to:
        // Tear down the user's session by redirecting the user or making a call to your backend.
        // Also, make sure loggedInUser will get set to null on the next page load.
        // (That's a literal JavaScript null. Not false, 0, or undefined. null.)
        $.ajax({
          type: 'POST',
          url: '/logout', // This is a URL on your website.
          success: function(res, status, xhr) { },
          error: function(xhr, status, err) { alert("Fucking logout failure: " + xhr); }
        });
      }
    });
});
</script>
</body>
</html>
